<br /><br />
<br /><br />
<br /><br />

<div class="row card-deck">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let facture of factures">
    <div class="card text-center">
      <div class="card-header">
        <h4>{{ facture.id }}</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ facture.somprix }} TND</h5>
        <h5 class="card-title">{{ facture.datefac | date }}</h5>
        <div class="product-list">
          <h6>Produits:</h6>
          <ul>
            <li *ngFor="let produit of facture.produits">
              {{ produit.designation }}" "{{ produit.prix
              }}<img
                [src]="produit.image"
                alt="Product Image"
                style="width: 150px"
              />
            </li>
          </ul>
        </div>
        <button
          type="button"
          (click)="deleteProduct(facture.id)"
          class="btn btn-default"
        >
          <i class="bi bi-trash-fill" style="color: red"></i>
        </button>
      </div>
    </div>
  </div>
</div>
