<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/products/index"
      >Ecommerce Space</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/facture/create"
            >Ajouter Facture</a
          >
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/clients/1/factures"
            >Liste Facture de client</a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/facture/index/"
            >Liste Facture</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-9"></div>
</div>

<router-outlet></router-outlet>
